@import url(https://fonts.googleapis.com/css?family=Rye);

body 
{ background: #eee; }

.banner {
  position: absolute;
  left: 50%;
  display: block;
  margin: -4px -200px;
  width: 400px;
  height: 60px;
  border: 1px solid #8a1;
  font: normal 30px/60px 'Rye';
  text-align: center;
  color: #451;
  background: #9b2;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,.15) inset,
      				0 6px 10px rgba(0,0,0,.15);
}

.banner::before,
.banner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 24px;
  display: block;
  width: 40px;
  height: 0px;
  border: 30px solid #9b2;
  border-right: 20px solid #791;
  border-bottom-color: #94b81e;
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.banner::after {
  left: auto;
  right: -70px;
  border-left: 20px solid #791;
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}
.image-logo{
    width: 29%; 
    position: absolute;
    left: 50%;
    display: block;
    margin:64px -105px;
    width: 400px;
    height: 60px;
}
@media (min-width: 1200px){
ul.nav.nav-tabs {
    /* margin: 127.1px -100px; */
    margin-left: 15% !important;
    margin-right: 15% !important;
}
}
.reiview-name{
      color: #ff8b00;
    font-size: large;
    font-weight: bold;
}
.comment-class{
  font-size: x-large;
    margin-top: 136px;
    padding-left: 24px;
    /* padding-bottom: 34px; */
    margin-bottom: 19px;
    border-radius: 7px;
    border: 6px solid;
}

.personal-detail-input{float:left; padding:0 10px;}
.personal-detail-input-fields{margin: 10px 0; padding: 0 10px; overflow: hidden;}
.personal-detail-input-fields label { width:250px;}
.personal-input {
    height: 27px;
    padding: 2px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:left;
    display:block;
    
}